.login-page-wrapper {
  .login-button {
    width: 10%;
    position: absolute;
    left: 45%;
    top: 50%;
    background-color: gray;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}
