.header-wrapper {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
  .logo {
    padding-left: 3%;
    a {
      background-color: gray;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
  }
  .settings-button-wrapper {
    display: flex;
    align-items: center;
    padding-right: 6%;
    h5 {
      padding-right: 20px;
    }
  }
}
